.navbar-items {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: None;
  align-items: center;
}

.navbar-logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  text-decoration: none;
  color: #222;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  background-color: #222;
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
  display: none;
}

.nav-btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: #222;
  color: white;
}
.menu-icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.2s ease-in-out;
    border-radius: 13px;
  }

  .nav-menu.active {
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: 0.2s ease-in-out;
  }

  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
  }
  .nav-links:hover {
    background-color: #222;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    width: 60%;
    margin: auto;
    transition: none;
  }
  .nav-btn {
    display: none;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 8px 16px;
    border-radius: 8px;
    width: 60%;
    margin: auto;
    background-color: #222;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .menu-icons {
    display: block;
    cursor: pointer;
  }
  .menu-icons i {
    font-size: 1.2rem;
    color: #222;
  }
}
